<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TestDao">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.example.demo.entity.GoodsEntity" id="goodsMap">
        <result property="goodsId" column="goods_id"/>
        <result property="price" column="price"/>
    </resultMap>

<!--    <select id="querryGoods" resultType="com.example.demo.entity.GoodsEntity">-->
<!--        select * from goods-->
<!--    </select>-->

</mapper>
